doctype html
html(lang='en')
  head
    title Search Interface
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .row
        .col-md-12
          #adv-search.input-group
            input#search-box.form-control(type='text', placeholder='Enter keywords seperated by comma(,)')
            .input-group-btn
              .btn-group(role='group')
                .dropdown.dropdown-lg
                  button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                    span.caret
                  .dropdown-menu.dropdown-menu-right(role='menu')
                    form.form-horizontal(role='form')
                      .form-group
                        label(for='contain') Limit
                        input#limit.form-control(type='text')
                button#search.btn.btn-primary(type='button')
                  span.glyphicon.glyphicon-search(aria-hidden='true')
      .col-md-12
        #json-text.jumbotron
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='/scripts/script.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
